h1{
    font-weight: 600;
    font-size: 35px;
    line-height: 140%;
    text-align: center;
    color: #282828;
}

h2{
    font-weight: 600;
    font-size: 25px;
    line-height: 140%;
    text-align: center;

    color: #282828;
}
h3{
    font-weight: 600;
    font-size: 15px;
    line-height: 160%;
    color: #282828;
}
p{
    font-weight: 300;
    font-size: 12px;
    line-height: 180%;
    color: #282828;
}



.btn-login{

    background: unset;
    white-space: nowrap;
    width: max-content;
    transition: 0.3s;
    color: #282828;
    font-weight: 500;
    font-size: 12px;
    line-height: 160%;
    text-align: center;
}
.btn-login:hover{
    color: #9F9F92;

}

.btn-white{
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.3s;
    font-weight: 500;
    font-size: 12px;
    line-height: 160%;
    text-align: center;
    color: #1E1E1E;
    border: 1px solid #FFFFFF80;
    backdrop-filter: blur(20px);
    background: #FFFFFF;
    white-space: nowrap;
}
.btn-white:hover, .btn-white:active{
    background: #E9E9DE;
    color: #2D2D2D;
}


.btn{
    border: 1px solid #FFFFFF80;
    backdrop-filter: blur(20px);
    background: #282828;
    padding: 10px 30px;
    gap: 10px;
    border-radius: 50px;
    width: max-content;
    white-space: nowrap;
    transition: 0.3s;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 15px;
    line-height: 160%;
    text-align: center;
}
.btn:hover, .btn:active{
    background: #E9E9DE;
    color: #2D2D2D;
}
.section-margin{
    margin-top: 100px;
}




.revolut-main{
    margin-top: 173px;
    overflow: hidden;
}
.revolut-cnt{
    position: relative;
    width: 100%;

}
.revolut-info{
    gap: 25px;
    position: relative;
    z-index: 2;
}
.revolut-info h1{
    max-width: 520px;
    width: 100%;
}
.revolut-info p{
    font-size: 15px;
    line-height: 160%;
    max-width: 500px;
    width: 100%;
    text-align: center;
}
.revolut-cnt:before{
    content: "";
    position: absolute;
    left: -80px;
    top: -20px;
    background-image: url("../img/cloud-left.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 344px;
    width: 100%;
    height: 279px;
}
.revolut-cnt:after{
    content: "";
    position: absolute;
    right: -100px;
    top: -20px;
    background-image: url("../img/cloud-right.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 398px;
    width: 100%;
    height: 298px;

}
.revolut-photo{
    margin-top: -100px;
}
.banner-mob{
    display: none;
}
.capabilities-wrap{
    margin-top: 50px;
    gap: 40px;
    position: relative;
}
.capabilities-wrap:before{
    content: "";
    position: absolute;
    top: 10px;
    right: 180px;
    background-image: url("../img/cloud-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 509px;
    width: 100%;
    height: 343px;
}
.capabilities-wrap:after{
    content: "";
    position: absolute;
    top: 350px;
    left: 110px;
    background-image: url("../img/cloud-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 585px;
    width: 100%;
    height: 469px;
}
.cloud-three{
    position: relative;
}
.cloud-three:after{
    content: "";
    position: absolute;
    top: -416px;
    left: 50px;
    background-image: url(../img/cloud-3.png);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 582px;
    width: 100%;
    height: 470px;
    z-index: -1;
}
.capabilities-photo, .capabilities-box, .capabilities-empty{
    width: calc(25% - 30px);
}
.capabilities-photo{
    box-shadow: 0px 5px 20px 0px #0000000D;
    border: 1px solid #FFFFFF80;
    border-radius: 20px;

}
.capabilities-photo img{
    border-radius: 20px;
    width: 100%;
}
.capabilities-box{
    border: 1px solid #00000005;
    background: #0000000A;
    box-shadow: 0px 5px 20px 0px #0000000D;
    backdrop-filter: blur(4px);
    border-radius: 20px;
    padding: 30px;
    position: relative;
    z-index: 1;
}
.capabilities-icon{
    border: 1px solid #00000005;
    width: 44px;
    height: 44px;
    border-radius: 8px;
}
.capabilities-box h3{
    margin-top: 29px;
}
.capabilities-box p{
    margin-top: 18px;
    font-size: 12px;
    line-height: 180%;

}
.bg-red {
    background: #A61706;
}
.bg-black{
    background: #09171D;
}
.bg-yellow{
    background: #EE8D20;
}
.bg-orange{
    background: #F65636;
}
.bg-brown{
    background: #C5916D;
}



.processing-photo{
    margin: 50px auto 0;
    max-width: 1100px;
    width: 100%;
}
.processing-mob{
    display: none;
}

.quality-flex{
    margin-top: 50px;
    gap: 40px;
    position: relative;
}
.quality-flex:after{
    content: "";
    position: absolute;
    left: 181px;
    bottom: 0;
    background-image: url(../img/cloud-3.png);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 518px;
    width: 100%;
    height: 428px;
}


.upload-image-box{
    background-repeat: no-repeat;
    background-size: cover;
    width: calc(50% - 20px);
    border-radius: 20px;
    box-shadow: 0px 5px 20px 0px #0000000D;
    padding: 30px;
}
.upload-image-box .quality-count{
    background: #28282880;
}
.quality-count{
    backdrop-filter: blur(10px);
    border: 1px solid #FFFFFF1A;
    background: #282828;
    border-radius: 8px;
    width: 44px;
    height: 44px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
}

.upload-image-info h3{
    color: #FFFFFF;
}
.upload-image-text{
    margin-top: 10px;
    gap: 20px;
}
.upload-image-text p{
    max-width: 317px;
    width: 100%;
    color: #ffffff;
}


.quality-box{
    width: calc(25% - 30px);
    box-shadow: 0px 5px 20px 0px #0000000D;
    backdrop-filter: blur(4px);
    border: 1px solid #00000005;
    background: #0000000A;
    padding: 30px;
    border-radius: 20px;
    position: relative;
    z-index: 2;
}
.quality-box h3{
    margin-top: 41px;
}
.quality-box p{
    margin-top: 15px;
}
.fon-linners:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/liners-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 230px;
    width: 100%;
    height: 200px;
    z-index: 0;
}
.quality-box-photo{
    background: unset;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
}
.quality-box-photo h3,
.quality-box-photo p{
    color: #ffffff;
}
.quality-box .btn-white{
    margin-top: 15px;
}
.quality-box-black{
    background: #282828;
}
.quality-box-black h3,
.quality-box-black p{
    color: #ffffff;
}

.quality-box-black:before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../img/liners-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 209px;
    width: 100%;
    height: 200px;
}






.reviews-cnt{
    position: relative;
    margin-top: 50px;
    padding: 0 74px;
}
.reviews-slider{
    width: 100%;
    border-radius: 30px;

}
.reviews-box{
    box-shadow: 0px 5px 20px 0px #0000000D;
    border: 1px solid #00000005;
    background: #0000000A;
    gap: 40px;
    border-radius: 30px;
    padding: 50px;
}
.reviews-photo{
    max-width: 300px;
    width: 100%;
}
.reviews-photo img{
    border-radius: 20px;
}
.reviews-info{
    max-width: 612px;
    width: 100%;
}
.reviews-name{
    gap: 12px;
}
.reviews-name h3{
    font-size: 20px;
    line-height: 100%;
}
.reviews-name ul{
    gap: 5px;
}
.icon-star{
    content: url("../img/star.svg");
    width: 16px;
    height: 16px;
}
.reviews-info span{
    margin-top: 25px;
    display: block;
    color: #262626;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
}
.reviews-info p{
    margin-top: 25px;
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
}


.swiper-button-next:after, .swiper-button-prev:after{
    display: none;
}


.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 44px;
    height: 44px;
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
    transition: 0.3s;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    background: #282828;
    box-shadow: 0px 5px 20px 0px #0000000D;

}
.swiper-button-next:hover, .swiper-button-prev:hover{
    opacity: 0.8;
}
.swiper-button-prev{
    left: 0;
}
.swiper-button-next{
    right: 0;
}
.icon-arrow-left{
    content: url("../img/arrow-left.svg");
    width: 24px;
    height: 24px;
}
.icon-arrow-right{
    content: url("../img/arrow-right.svg");
    width: 24px;
    height: 24px;
}


.accordion{
    margin-top: 40px;
    gap: 20px;

}


.accordion-box{
    border: 1px solid #00000005;
    background: #0000000A;
    backdrop-filter: blur(4px);
    box-shadow: 0px 5px 20px 0px #0000000D;
    border-radius: 20px;
}

.accordion-click{
    position: relative;
    transition: 0.3s;
    padding: 30px 30px;
    cursor: pointer;
}

.accordion-click:after{
    content: "";
    position: absolute;
    right: 32px;
    top: 31px;
    width: 11px;
    height: 11px;
    border-top: 2px solid #282828;
    border-right: 2px solid #282828;
    transform: rotate(135deg);
    transition: 0.3s;
    opacity: 0.50;
}
.open:after {
    top: 40px;
    transform: rotate(-45deg);
    opacity: 1;
}
.accordion-click h3{
    font-weight: 500;
    color: #282828;
}
.submenu{
    padding: 0 30px 30px;
    display: none;
}
.submenu p{
    opacity: 0.70;
}




.enhancement-photo{
    margin-top: -90px;
}

.enhancement-cnt{
    overflow: hidden;
}
.enhancement-cnt .revolut-info p {
    max-width: 300px;
}


footer{
    background: #F5F5F5;
    border-top: 1px solid #00000005;
    box-shadow: 0px -5px 20px 0px #00000005;
    backdrop-filter: blur(4px);
    padding: 50px 0;
    z-index: 4;
    margin-top: -340px;
}
footer:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    max-width: 436px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/footer-line.png");
    z-index: 0;
}


.footer-main{
    gap: 30px;
    position: relative;
    z-index: 1;
}

.footer-fon{
    border: 1px solid #FFFFFF80;
    box-shadow: 0px 5px 20px 0px #0000000D;
    max-width: 458px;
    width: 100%;
    height: 237px;
    padding: 30px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}
.ready-start h3{
    color: #FFFFFF;
    font-size: 15px;
    line-height: 160%;
}
.ready-start-text{
    margin-top: 10px;
    gap: 30px;
}
.ready-start-text p{
    color: #ffffff;
    max-width: 182px;
    width: 100%;
}
.footer-btn{
    gap: 15px;
}
.footer-btn .btn-login{
    color: #ffffff;
}











@media (max-width: 1299px){
    .revolut-cnt:before {
        left: 0;
        top: -41px;
        max-width: 281px;
        height: 230px;
    }
    .revolut-cnt:after {
        right: 0;
        top: -40px;
        max-width: 305px;
        height: 239px;
    }
    .quality-flex {
        gap: 30px;
    }
    .quality-box {
        width: calc(25% - 20px);
    }



}
@media (max-width: 1199px){

    h1 {
        font-size: 30px;
    }







    .capabilities-photo, .capabilities-box{
        width: calc(33.333333% - 30px);
    }
    .capabilities-empty{
        display: none;
    }
    .capabilities-wrap:before{
        display: none;
    }
    .capabilities-wrap:after{
        display: none;
    }
    .cloud-three{
        display: none;
    }
    .quality-box {
        width: calc(33.333333% - 20px);
    }
    .upload-image-box {
        width: calc(33.333333% - 20px);
        background-position: center;

    }
    .upload-image-text {
        gap: 12px;
        flex-direction: column;
        align-items: flex-start;
    }
    .quality-box-photo {
        margin-left: 0;
    }
    .quality-box h3 {
        margin-top: 30px;
    }

    .quality-box p {
        margin-top: 11px;
    }
    .reviews-box {
        gap: 30px;
        border-radius: 20px;
        padding: 25px;
    }
    .reviews-info p {
        margin-top: 15px;
        font-size: 16px;
    }
    .accordion-click {
        padding: 20px 20px;
    }


    .accordion-click:after {
        right: 23px;
        top: 23px;
        width: 10px;
        height: 10px;
    }
    .open:after {
        top: 30px;
    }
    .submenu {
        padding: 0 20px 20px;
    }

    footer {
        margin-top: -280px;
    }
    .footer-main{
        gap: 40px;

        flex-wrap: wrap;
    }
    .footer-fon {
        margin: 10px auto 0;
    }




}
@media (max-width: 1020px){
    .revolut-main {
        margin: 0;
        padding-top: 148px;
    }
    .revolut-cnt:before {
        left: -81px;
        top: -135px;
        max-width: 321px;
        height: 214px;
    }

    .revolut-cnt:after {
        right: -78px;
        top: 61px;
        max-width: 370px;
        height: 218px;
    }


    .revolut-photo {
        margin-top: -45px;
    }
    h1 {
        font-size: 26px;
    }
    .revolut-info h1 {
        max-width: 400px;
    }
    .revolut-info {
        gap: 20px;
    }
    .capabilities-neural{
        margin-top: 30px;
    }
    h2 {
        font-size: 22px;
    }
    .capabilities-wrap {
        gap: 30px;
    }
    .capabilities-photo, .capabilities-box {
        width: calc(50% - 15px);
    }
    .section-margin {
        margin-top: 80px;
    }
    .upload-image-box {
        width: calc(50% - 20px);
    }
    .quality-box {
        width: calc(50% - 20px);
    }

    .enhancement-cnt {
        margin-top: 0;
        padding-top: 80px;
    }
    .enhancement-cnt .revolut-cnt:before {
        top: 0;
    }
    .enhancement-cnt .revolut-info h1 {
        max-width: 404px;
    }
    .enhancement-photo {
        margin-top: -30px;
    }
    footer {
        margin-top: -200px;
        padding: 60px 0;
    }
    .reviews-box {
        padding: 25px;
        flex-direction: column;
    }
    .reviews-photo img {
        border-radius: 15px;
    }
    .reviews-box {
        flex-direction: column;
        max-width: 350px;
        margin: 0 auto;
    }
    .reviews-name h3 {
        font-size: 16px;
    }
    .reviews-info span {
        margin-top: 20px;
        font-size: 14px;
    }
    .reviews-info p {
        font-size: 12px;
    }
    .reviews-slider {
        padding: 20px 0;
    }
    .swiper-button-next, .swiper-button-prev {
        top: auto;
        width: 30px;
        height: 30px;
        margin-top: 0;
        border-radius: 6px;
    }
    .reviews-cnt {
        margin-top: 20px;
        padding: 0;
    }

    .icon-arrow-left {
        width: 15px;
        height: 15px;
    }
    .icon-arrow-right {
        width: 15px;
        height: 15px;
    }
    .swiper-button-prev {
        left: 44%;
    }
    .swiper-button-next {
        right: 44%;
    }
    .quality-flex:after{
        display: none;
    }
}


@media (max-width: 575px){
    h1 {
        font-size: 22px;
    }
    .revolut-info p {
        font-size: 12px;
        max-width: 400px;
    }
    .btn {
        font-size: 11px;
    }
    .revolut-info{
        padding: 0 20px;
    }
    .banner-desc{
        display: none;
    }
    .banner-mob{
        display: block;
    }
    .revolut-main .container{
        padding: 0;
    }
    .revolut-photo {
        margin-top: -20px;
    }

    .revolut-cnt:after {
        top: 39px;
    }
    h2 {
        font-size: 18px;
    }
    .capabilities-wrap {
        gap: 20px;
    }
    .capabilities-photo, .capabilities-box {
        width: 100%;
    }
    .capabilities-box h3 {
        margin-top: 40px;
    }

    .processing-main h2 {
        margin: 0 auto;
        max-width: 280px;
        width: 100%;
    }
    .processing-desc{
        display: none;
    }
    .processing-mob{
        display: block;
    }
    .quality-flex {
        gap: 20px;
        margin-top: 30px;
    }
    .quality-box {
        width: 100%;
    }
    .upload-image-box {
        width: 100%;
    }
    .upload-image-info{
        margin-top: 30px;
    }
    .reviews-box {
        max-width: 380px;
    }
    .swiper-button-prev {
        left: 40%;
    }
    .swiper-button-next {
        right: 40%;
    }

    .accordion-click h3 {
        font-size: 12px;
    }
    .accordion-click {
        padding: 20px 30px 20px 20px;
    }
    .accordion-click:after {
        right: 19px;
        top: 23px;
        width: 9px;
        height: 9px;
    }
    .footer-main {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-menu ul {
        flex-wrap: wrap;
        gap: 10px;
    }
    footer:before {
        height: 337px;
    }
    .ready-start-text {
        margin-top: 12px;
        gap: 20px;
        flex-direction: column;
    }
    .footer-fon {
        max-width: 458px;
        height: 400px;
        background-position: center;
    }
    .footer-btn {
        flex-direction: row-reverse;
    }
    footer {
        margin-top: -70px;
        padding: 60px 0;
    }
    .enhancement-cnt .revolut-info p {
        max-width: 240px;
    }

    .enhancement-cnt .revolut-info h1 {
        font-size: 20px;
    }
    .enhancement-cnt .revolut-info {
        padding: 0;
    }
    .enhancement-cnt .revolut-cnt:before {
        top: 26px;
        max-width: 198px;
        height: 142px;
    }

    .enhancement-cnt .revolut-cnt:after {
        top: 25px;
        max-width: 259px;
        height: 149px;
    }
    .enhancement-photo {
        margin-top: 0;
    }
    #sdvantages h2{
        max-width: 260px;
        width: 100%;
        margin: 0 auto;
    }

}